[submodule "app_DeepCoSI/DeepCoSI"]
	path = app_DeepCoSI/DeepCoSI
	url = https://github.com/Chemical-Biology-STP/DeepCoSI
[submodule "app_Explore_Chemical_Space"]
	path = app_Explore_Chemical_Space
	url = https://github.com/Chemical-Biology-STP/app_Explore_Chemical_Space
[submodule "app_LLE_Calculator"]
	path = app_LLE_Calculator
	url = https://github.com/Chemical-Biology-STP/app_LLE_Calculator
[submodule "app_Tanimoto_Similarity_Calculator"]
	path = app_Tanimoto_Similarity_Calculator
	url = https://github.com/Chemical-Biology-STP/app_Tanimoto_Similarity_Calculator
