Bio==1.7.1
chemplot==1.3.1
chimera==0.4.7
dgl==2.2.1
dgllife==0.3.2
numpy==2.2.4
pandas==2.2.3
Pillow==11.1.0
plotly==6.0.1
prefetch_generator==1.0.3
python_bcrypt==0.3.2
rdkit==2024.9.6
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
streamlit==1.44.1
torch==2.6.0
torchani==2.2.4
xlsx2csv==0.8.4
